
terraform/aws/env/us-west/terraform.tfstate.backup
terraform/aws/env/us-west/terraform.tfstate
terraform/aws/env/us-west/terraform.tfvars
/terraform/aws/modules/hashistack/licenses
terraform/aws/env/us-west/.terraform.lock.hcl
/terraform/aws/env/us-west/.terraform
